<form id="edit" method="POST" action="/profile"> 
<input type="text" name="title" placeholder="Enter a title" >
<input type="text" name="image"  placeholder="Enter an image url" >  
<input type="text" name="text_content" placeholder="Enter new content" > 


<input type="submit" value="Submit">
</form>