


<div id="edit" class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Edit the article
      </div>
    </h2>
    <form action="/blog/<%= @current_article.id%>" method="POST" class="ui large form">
    <input type="hidden" name="_method" value="PUT">
      <div class="ui stacked secondary  segment">
      <div class="field">
          <div class="ui left icon input">
            <input type="text" name="title" placeholder="name" value= "<%=@current_article.title%>">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="image" placeholder="image url" value= "<%=@current_article.image%>">
          </div>
        </div>
        <div class="field">
        <textarea rows="4" cols="50" name="text_content" placeholder="Enter new content"><%= @current_article.text_content %>
        </textarea>
        </div>
      
       
       
        <input class="ui fluid large teal button" type="submit" value="Save">
      </div>
   
      <div class="ui error message"></div>

    </form>
