<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>R-umblr</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<body>

<header class="ui top fixed menu">
<h1 id="logo" >R-mblr</h1>

<h3 id="blog"><a href="/blog" />Blog!</a></h3>
<% if session[:user_id] %>

<h3 id="signout"><a href="/sign-out" />Sign out</a></h3>
<h3><a href="/profile" />Profile</a></h3>
<% else %>

<h3><a href="/sign-in" />Sign In</a>/<a href="/sign-up" />Sign Up</a></h3>



<% end %>

</header>

<%= yield %>



<script>
$(function(){
   $("#test").click(function(){
       $(".test").modal('show');
   });
   $(".test").modal({
       closable: true
   });
});
</script>
</body>

</html>