<div id=lokai>

<h1 id='slogan'><em>Make the world green again...</em><h1>



<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Sign-up for your account
      </div>
    </h2>
    <form action="/sign-up" method="POST" class="ui large form">
      <div class="ui stacked secondary  segment">
      <div class="field">
          <div class="ui left icon input">
            <input type="text" name="name" placeholder="name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="lastname" placeholder="lastname">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="email" placeholder="enter your email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="date" name="birthday" placeholder="yyyy/mm/dd">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input class="ui fluid large teal button" type="submit" value="Log in">
      </div>

      <div class="ui error message"></div>

    </form>

    
  </div>
</div>
</div>