<div id=lokai>


<a href="#sloganbetter"><i class="massive angle double down icon slider"></i></a>
<h3 id="sloganbetter">Let's get together <br/> to make our home <br/> a better place</h3>


<h4 class="quote">The Earth does not belong to us: </br>
 we belong to the Earth. </br> <em>"Marlee Matlin"</em>
<a href="https://www.brainyquote.com/quotes/marlee_matlin_461851"><span class="author">read more quotes like this<span></a> </h4>
</div>



