<div id=lokai>

<h1 id='slogan'><em>Make the world green again...<em><h1>

<h1><%= @info %></h1>


<div class="ui middle aligned center aligned grid singin">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="/sign-in" method="POST" class="ui large form">
      <div class="ui stacked secondary  segment signin">
        <div class="field username">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="test">

          </div>
        </div>
        <div class="field pass">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="123">
          </div>
        </div>
        
        <input class="ui fluid large teal button card"type="submit" value="Log in">
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/sign-up">Register</a>
    </div>
  </div>
</div>
</div>